.header-pages {
  list-style: none;
  padding: 0;
  display: flex;
}
.header-pages li {
  margin-right: 15px;
}
.header-pages li a {
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 75px;
  border: 2px solid white;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.header-pages li a:hover {
  background-color: black;
  transform: scale(1.1);
  background: linear-gradient(to right, grey, red);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


#shpe {
  width: 500px;
  height: 80px;
  cursor: pointer;
}
#washu-logo {
  width: 240px;
  height: 70px;
  cursor: pointer;
}

.header {
  top: 0%;
  width: 100%;
  z-index: 3;
  max-height: 90px;
  /* doesn't move from that screens position */
  position: fixed;
  /* goes side by side */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a51417;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}
@media screen and (max-width: 738px) {
  body {
    overflow-x: scroll;
  }
  .burger {
    display: block;
    cursor: pointer;
    z-index: 100;
    transition: all 0.3 ease;
  }
  .header-pages {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.5 ease-in;
  }
  .header-pages li a {
    display: block;
    padding: 10px;
    color: #fff;
    border-radius: 0px;
    border: 2px solid white;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
}
.nav-active {
  transform: translateX(0%);
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
